.banner {
    margin-top: 20ox;
    height: 650px;
    display: flex;
    align-items: center;
    background-color: #1E0A6C;
}

.image-container {
    width: 50%;
}

.image-container img {
    width: 100%;
    height: 650px;
}

.text-container {
    width: 50%;
    text-align: center;
}

.text-container h1 {
    font-weight: bold;
    font-size:28px; 
    color: #fff;
}
.cards{
    display: flex;
    justify-content: space-between;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: -150px;
    .card {
        width: 400px;
        height: 300px;
        border-radius: 5%;
        box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.1);
}
    .card-title{
        margin-bottom: 5px;
        padding-top: 15px;
        text-align: center;
        h6{
            font-size: 18px;
            font-weight: bold;
        }
    }
    .card-body{
        background-image: url(img/images\ \(28\).jpeg);
        height: 400px;
    }
    .card-footer{
        margin-top: 5px;
        background-color: #c79292;
        border-radius: 5%;
        font-size: 24px;
        font-weight: bold;
        text-align: center;
        padding-top: 5px;
        height: 50px;
}
}
.point{
    background-color:#1E0A6C;
}